.outer{
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c0392b;
  position: fixed;
  top: 0;
}

.inner{
  width: 90vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2{
  font-size: 25px;
  color: white;
}

ul{
  list-style: none;
  display: flex;
}

li{
  font-size: 20px;
}

a{
  text-decoration: none;
  color: white;
}

